<!DOCTYPE html>
<html>
  <head>
    <title>NameFace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>NameFace</h1>
    <p><i>A web app for memorizing names</i></p>

    <%= link_to 'Home', root_path %> |
    <%= link_to 'Quiz', quiz_path %> |
    <%= link_to 'People', people_path %>

    <%= yield %>
  </body>
</html>
